{% extends 'layouts/app.html' %}

{% block title %}
    Login
{% endblock %}

{% block content-header %}
    <h1>Login</h1>
{% endblock %}

{% block container %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="login-box">
                <div class="login-logo">
                    <b>ACS</b>
                </div>
                <!-- /.login-logo -->
                <div class="login-box-body">
                    <p class="login-box-msg">Iniciar sesión</p>

                    <form action="{% url 'login' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="_next" value="{{ request.GET.next }}">
                        <input id="timezone" type="hidden" name="timezone">
                        <div class="form-group has-feedback">
                            <input type="email" name="email" class="form-control" placeholder="Email" required autofocus>
                            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                            <span class="help-block">
                                <strong></strong>
                            </span>
                        </div>
                        <div class="form-group has-feedback">
                            <input type="password" name="password" class="form-control" placeholder="Contraseña" required>
                            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                            <span class="help-block">
                                <strong></strong>
                            </span>
                        </div>
                        <div class="row">
                            <div class="col-xs-8">
                                <div class="checkbox icheck">
                                    <label>
                                        <input type="checkbox" class="icheck"> Recordarme
                                    </label>
                                </div>
                            </div>
                            <!-- /.col -->
                            <div class="col-xs-4">
                                <button type="submit" class="btn btn-primary btn-block btn-flat">Entrar</button>
                            </div>
                            <!-- /.col -->
                        </div>
                    </form>

                    <a href="#">Olvidé mi contraseña</a><br>
                </div>
                <!-- /.login-box-body -->
            </div>
        </div>
    </div>
{% endblock %}

