<!-- START LEFT SIDEBAR NAV-->
<ul class="sidebar-menu" data-widget="tree">
    <li class="treeview">
        <a href="#">
            <i class="fa fa-dashboard"></i><span>Panel de control</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li class="#">
                <a href="$"><i class="fa fa-circle-o"></i> Uno</a>
            </li>
            <li class="#">
                <a href="$"><i class="fa fa-circle-o"></i> Dos</a>
            </li>
        </ul>
    </li>
    
    <li class="">
        <a href="#"><i class="fa fa-circle-o"></i><span>Usuarios</span></a>
    </li>
</ul>
<!-- END LEFT SIDEBAR NAV-->
